*~
orb_slam2/Examples/ROS/build*
orb_slam2/runs/
orb_slam2/Vocabulary/*
orb_slam2/lib/
orb_slam2/Thirdparty/g2o/build/
orb_slam2/Thirdparty/g2o/lib/
orb_slam2/Thirdparty/DBoW2/build/
orb_slam2/Thirdparty/DBoW2/lib/

