<launch>
	<arg name="bag"/>

  	<include file="$(find visual_features_extractor)/launch/extractor.launch"/>

    <node pkg="orb_slam2" type="ros_mono" name="slam" output="screen" launch-prefix="nice -10 ">
      <param name="~debug_view" value="true"/>
      <param name="~vocabulary_path" value="$(find orb_slam2)/Vocabulary/ORBvoc.txt"/>
      <param name="~settings_path" value="$(find orb_slam2)/Examples/Monocular/test.yaml"/>
      <param name="~fps" value="10"/>
      <remap from="~features" to="/feature_extractor/features"/>
    </node> 

	<node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(arg bag) --loop --topics /usb_cam/camera_info /usb_cam/image_raw" />

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find orb_slam2)/launch/orb_slam2.rviz" output="log"></node>

</launch>
