<launch>
    <node pkg="orb_slam2" type="ros_mono" name="slam" output="screen">
      <remap from="~image" to="/image_rect"/>
      <remap from="~features" to="/features"/>
      <param name="debug_view" value="true"/>
      <param name="vocabulary_path" value="$(find orb_slam2)/Vocabulary/ORBvoc.txt"/>
      <param name="settings_path" value="$(find orb_slam2)/Examples/Monocular/test.yaml"/>
    </node>
    
</launch>
