<launch>
    <include file="$(find visual_features_extractor)/launch/extractor_cam.launch"/>

    <node pkg="orb_slam2" type="ros_mono" name="slam" output="screen" launch-prefix="nice -10 ">
      <param name="~debug_view" value="true"/>
      <param name="~vocabulary_path" value="$(find orb_slam2)/Vocabulary/ORBvoc.txt"/>
      <param name="~settings_path" value="$(find orb_slam2)/Examples/Monocular/test.yaml"/>
      <param name="~fps" value="15"/>
      <remap from="~camera_info" to="/usb_cam/camera_info"/>
      <remap from="~image_raw" to="/usb_cam/image_raw"/>
      <remap from="~features" to="/feature_extractor/features"/>
    </node>   
    
</launch>
