<launch>
	<param name="enable_statistics" value="true"/>

	<node pkg="visual_features_extractor" type="feature_detector" name="feature_extractor" output="screen">
		<param name="orb_extractor" value="orb_slam2"/>
                <param name="num_features" value="4000"/>
                <param name="scale_factor" value="1.2f"/>
                <param name="levels" value="8"/>
                <param name="ini_thrs" value="20"/>
                <param name="min_thrs" value="12"/>
                <param name="undistort_points" value="true"/>
                <param name="subscribe_to_state" value="true"/>
                <param name="publish_image_" value="true"/>

                <remap from="~image_in" to="/usb_cam/image_raw"/>
                <remap from="~camera_info" to="/usb_cam/camera_info"/>
		<remap from="~image_out" to="~debug"/>
	</node> 

        <node pkg="orb_slam2" type="ros_mono" name="slam" output="screen">
                <remap from="~features" to="/feature_extractor/features"/>
                <remap from="~camera_info" to="/usb_cam/camera_info"/>
                <remap from="~image_raw" to="/usb_cam/image_raw"/>

                <param name="debug_view" value="true"/>
                <param name="vocabulary_path" value="$(find orb_slam2)/Vocabulary/ORBvoc.txt"/>
                <param name="settings_path" value="$(find orb_slam2)/Examples/Monocular/test.yaml"/>
                <param name="fps" value="10"/>
        </node>
	
	<node pkg="rosbag" type="play" name="player" output="screen" args="--quiet --loop /home/muhaimen/bagfiles/laptop3.bag --topics /usb_cam/camera_info /usb_cam/image_raw"/>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find orb_slam2)/launch/w740su.rviz" output="log"></node>
</launch>
